.todo-main {
  height: 90dvh;
}
.task-container {
  height: 80dvh;
  /* background-color: #ededed; */
  /* margin-left: 1.25rem; Equivalent to 20px assuming the default font size is 16px */
  /* margin-right: 1.25rem; */
  /* width: calc(33.333333% - 2.5rem); */
  margin-top: 2dvh;

}
.outlet {
  height: 82dvh;
  margin-top: 2.5dvh;
  background-color: #ededed;  
  border-radius: 10px;
  /* padding: 1rem; */
  overflow: auto;
}
.indicator {
  display: flex;
  align-items: center;
  height: 3dvh;
  width: 100dvw;
  /* background-color: #444444; */
  text-decoration: none;
  
}
.addTask {
  /* height: 10dvh;
  background-color: transparent;
  padding: 10px; */
}
.Todo {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}
